# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Project specific
exports/
svgs/
static/uploads/

# Environment variables
.env
.env.local

# Logs
*.log 